.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin: 0 8px;
}

.titulo {
  margin-top: 30rem;
  padding-bottom: 1rem;
  color: #4b69fd;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
