.header_background {
  width: 100%;
  gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #4b69fd;

  @media (min-width: 1024px) {
    height: 454px;
    flex-direction: row;
  }

  @media (min-width: 1440px) {
    justify-content: space-around;
  }
}

.logo {
  padding-top: 55px;
  position: relative;

  @media (min-width: 1024px) {
    top: -25px;
  }
}

.logotipo_imagem {
  z-index: 1;
  width: 280px;
  position: relative;
  bottom: 31px;

  @media (min-width: 1024px) {
    bottom: -67px;
    width: 450px;
  }
}
